@use super::statics::*;
@use crate::nav;

@(data: String)

<!doctype html>
<html lang="en">

<head>
  <title>Rust Todo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/static/@style_css.name" rel="stylesheet">
</head>

<body>
  @:nav()
  <main class="container mx-auto my-2 w-1/3">
    <form action="/login" method="post">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="text">Username</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username" name="username">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="text">Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password" type="password" name="password">
      <input type="submit" class="bg-red-500 hover:bg-red-700 my-2 float-right text-white font-bold py-2 px-4 rounded"
        value="Login" />
    </form>
  </main>
</body>

</html>